[Desktop Entry]
Type=Application
Name=LiveSplit One
Comment=A desktop LiveSplit One timer for speedrunners
Exec=livesplit-one-druid
Icon=livesplit-one
Categories=Game;Utility;
Terminal=false
StartupWMClass=LiveSplit-One