[Desktop Entry]
Type=Application
Name=LiveSplit One
Comment=A LiveSplit One timer for Linux
Exec=livesplit-one
Icon=livesplit-one
Categories=Game;Utility;
Terminal=false
StartupWMClass=org.livesplit.LiveSplitOne
