[Desktop Entry]
Type=Application
Name=LiveSplit One (GTK)
Comment=A LiveSplit One timer for Linux (GTK)
Exec=livesplit-one-gtk
Icon=livesplit-one-gtk
Categories=Game;Utility;
Terminal=false
StartupWMClass=org.livesplit.LiveSplitOne
